body{
    margin:0;
    background-color: rgb(27, 27, 41);
    /* background-color:rgb(36, 36, 77); */
}
nav{
    background:gray;
}
nav ul{
    margin: 0;
    padding:20px;
}
nav ul li{
    display:inline;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
header h1, header h2, header h3{
    margin:20px auto;
    width: 500px;
    font-family: 'Raleway', sans-serif;
    color:rgb(109, 95, 95);
    background-color: #121223;
    text-align:center;
}
header img{
    display:block;
    margin:0 auto;
}
section{
    width:100%;
}
section table{
    margin:100px auto;
    border-collapse: collapse;
    background-color: #3a3a48;
}
section table tr th, section table tr td{
    padding:10px;
}
section table tr td{
    border:1px solid rgb(37, 31, 31)
}
#imageContainer{
    width:75%;
    margin:0 auto;
    /* position:relative; */
}
#imageContainer img{
    width:50%;
    height:200px;
    display:block;
    float:left;
}
#table{
    float:left;
    width:100%;
}
table{
    border-collapse: collapse;
}
#footer{
    width: 100%;
    height:110px;
    background-color:gray;
    float:left;
}
tbody tr td, tfoot tr td{
    border: 1px solid gray;
}
#form{
    margin:20px;
    color:white;
    width:64%;
}
#form fieldset label, input, button{
    margin: 5px;
}
input{
    width:125px;
}
button{
    float:right;
    width: 80px;
}
